<div class="sidebar">
    <div class="sidebar-header">
        <h4>Hızlı Erişim</h4>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
            <li><a href="/Home/Privacy">Gizlilik</a></li>
            <li><a href="#contact">İletişim</a></li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <p>© 2025 CengizTest</p>
    </div>
</div>