@import "./variables.scss"; // Bu satırı yorum satırına alabilir veya silebilirsiniz
// vite.config.js'de zaten additionalData ile variables.scss import edildiği için burada tekrar etmeye gerek yok

// Bootstrap import
@import "bootstrap/scss/bootstrap";


// Temel düzenler
body {
  font-family: $font-family-base;
  padding-top: $navbar-height;
  margin-bottom: $footer-height;
  min-height: 100vh;
  position: relative;
}

html {
  position: relative;
  font-size: $font-size-base;
  
  @media (min-width: $breakpoint-md) {
    font-size: calc(#{$font-size-base} + 0.125rem);
  }
}

// Odaklanma stilleri
.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $primary-color;
}

// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $light-color;
}

// Sayfaya özel bileşenler
@import "components/cards";
@import "components/buttons";
@import "components/forms";

// Sayfaya özel düzenler
@import "pages/home";
@import "pages/privacy";